.DS_Store
.idea
*.aws-sam*
*node_modules*
.gitignore
*samconfig.toml*
*.venv*
*__pycache__*
queue-based-ingestion/python-cdk/cdk.out/cdk.out

# Local .terraform directories
**/.terraform/*

# Terraform lockfile
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore CLI configuration files
.terraformrc
terraform.rc
downloaded_package_*

# Ignore lambda build files
*/python-rest-terraform/application/builds/*

*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.out/*

# Automated Security Helper output directory
ash_output
