# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT-0

openapi: "3.0.1"
info:
  title: "strands-streaming-ecs-api"
  version: "1.0.0"
paths:
  /ask:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                request:
                  type: string
                  description: "The request to send to the Strands agent"
              required:
                - request
      responses:
        "200":
          description: "Streaming response from Strands agent"
          content:
            text/html:
              schema:
                type: string
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: "http://${NetworkLoadBalancer.DNSName}/"
        httpMethod: "POST"
        responseTransferMode: "STREAM"
        type: "http_proxy"
        connectionType: "VPC_LINK"
        connectionId:
          Ref: VpcLink